#home {
  --home-sky: rgba(192, 201, 255, 1);
  --mask-stars: black;

  background: linear-gradient(180deg, var(--home-sky) 19%, rgb(96 109 175) 79%);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../public/imgs/sky.jpg");
    background-attachment: fixed;
    mask-image: linear-gradient(var(--mask-stars) 40%, transparent 60%);
    z-index: -1;
    mix-blend-mode: lighten;

    transition: all 2s ease-in-out;
    animation: stars 100s linear infinite;
  }
}

#home .mode {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 1px solid white;
  border-radius: 2em;
  background: color(srgb 0.09 0.1 0.15 / 0.2);
  backdrop-filter: blur(2px);

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }

  .filled {
    position: absolute;
    top: 0;
    left: 0;
    clip-path: ellipse(20px 20px at 25% 50%);
    transition: all 0.5s ease-in-out;
    pointer-events: none;

    svg {
      filter: drop-shadow(0px 0px 2px white);

      path {
        fill: white !important;
      }
    }
  }

  &.dark .filled {
    clip-path: ellipse(20px 20px at 75% 50%);
  }

  .stroke {
    position: relative;
    top: 0;
    left: 0;
  }

  span {
    display: inline-block;
    height: 40px;
    width: 40px;

    svg {
      cursor: pointer;

      height: 40px;
      width: 40px;

      path {
        transition: fill 1s ease-in-out;
      }
    }
  }
}

#home h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

@media only screen and (max-width: 813px) {
  #home {
    .mode {
      border-radius: 2em;
      font-size: 0.75em;

      & > div {
        margin: 7px;
        flex-direction: column;
        gap: 0.5em;
      }

      .filled {
        clip-path: ellipse(15px 15px at 50% 25%);
      }

      &.dark .filled {
        clip-path: ellipse(15px 15px at 50% 75%);
      }

      span {
        height: 30px;
        width: 30px;

        svg {
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}

@keyframes stars {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -100vw;
  }
}

/** remove animations if user prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
  #home::before {
    animation: none;
  }
}
