html {
  scroll-behavior: smooth;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 200vh;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

section:nth-child(1){ z-index: 10; }
section:nth-child(2){ z-index: 9; }

h1 {
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
  font-family: 'Bowlby One SC', Helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  margin: 20px 0;
}

h2 {
  width: 100%;
  color: white;
  font-family: 'Bowlby One SC', Helvetica, sans-serif;
  font-size: 1.2em;
}

a{
  color: white;
  font-family: 'Comic Neue', Helvetica, sans-serif;
}

p {
  text-transform: uppercase;
  font-style: italic;
  width: 100%;
  color: white;
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-size: 1em;
  margin: 10px 0;
}

p.small {
  font-size: .6em;
}

#bottombar{
  position: absolute;
  bottom: 0;
  margin: 0 0 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#godown{
  color: white;
  height: 50px;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .1s;
}

#godown:hover {
  color: rgb(183, 187, 241);
}

#godown .label {
  padding: 5px 20px;
}

#greeting {
  text-align: right;
  margin-right: 30px;
}

#godown .anchor {
  position: relative;
  height: 35px;
  width: 35px;
  border-right: 1px solid;
  padding: 7px 7px;

}

#godown .anchor svg {
  fill: white;
}

#godown .anchor.animate svg{
  animation: anchor 1.2s;
  animation-delay: .2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}


#island {
  width: 80vw;
  max-width: 800px;
  max-height: 70vh;
}

#island #Layer_4 {
  transform-origin: 43% 15%;
}

#island #Layer_5 {
  transform-origin: 41% 15%;
}

#driving{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80vw;
  max-width: 350px;
  max-height: 70vh;
  overflow: hidden;
}

#driving svg{
  transform-origin: center 20%;
}

section {
  position: relative;
  background: linear-gradient(180deg, rgba(192,201,255,1) 19%, rgb(96 109 175) 79%);
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

section:nth-child(2){
  background: linear-gradient(180deg, rgba(96 109 175) 0%, rgba(9,11,22,1) 100%);
}

#info {
  padding-left: 20vw;
}


@media screen and (min-width: 1440px) {
  #driving{
    left: 5vw;
  }
}


@keyframes anchor {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  99% {
    fill: rgb(128, 128, 148);
    transform: translate(0, 120vh) rotate(30deg);
  }
  100% {
    fill: rgb(128, 128, 148);
    transform: translate(0, 0) rotate(0);
    opacity: 0;
  }
}