html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 250%; /* Prevent font scaling in landscape */
}

body {
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 200vh;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: "Coming Soon", Helvetica, sans-serif;
}

section:nth-child(1) {
  z-index: 10;
}
section:nth-child(2) {
  z-index: 9;
}

h1 {
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
  font-family: "Bowlby One SC", Helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  margin: 20px 0;
}

h2 {
  width: 100%;
  color: white;
  font-family: "Bowlby One SC", Helvetica, sans-serif;
  font-size: 1.2em;
  margin-bottom: 10px;
}

h3 {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 0.5em;
  margin-bottom: 20px;
}

h3:not(:first-child) {
  margin-top: 20px;
}

a {
  color: white;
}

p {
  font-style: italic;
  width: 100%;
  color: white;
  font-size: 1em;
  line-height: 1.5em;
}

p:last-child {
  margin-bottom: 0;
}

p.small {
  font-size: 0.6em;
}

#bottombar {
  position: absolute;
  bottom: 0;
  margin: 0 0 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .5em;
}

#godown {
  color: white;
  height: 50px;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.1s;
}

#godown:hover {
  color: rgb(183, 187, 241);
}

#godown .label {
  padding: 5px 20px;
}

#greeting {
  text-align: right;
}

#godown .anchor {
  position: relative;
  height: 35px;
  width: 35px;
  border-right: 1px solid;
  padding: 7px 7px;
}

#godown .anchor .scaler {
  transform-origin: 50% 5%;
  transform: scale(1) translate(0px, 0%) rotate(0deg);
  transition: all 0.2s;
}

#godown:hover .anchor .scaler {
  transform: scale(2.5) translate(0px, -25%);
}

#godown .anchor svg {
  fill: white;
  transform-origin: 50% 5%;
  filter: drop-shadow(2px 2px 1px rgba(0,0,0,0));
}

#godown:hover .anchor svg{
  animation: anchor 1.2s;
  animation-delay: .3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
  animation-iteration-count:infinite;
  filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.3));
}

#island {
  width: 80vw;
  max-width: 800px;
  max-height: 70vh;
}

#island #Layer_4 {
  transform-origin: 43% 15%;
}

#island #Layer_5 {
  transform-origin: 41% 15%;
}

#driving {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80vw;
  max-width: 350px;
  max-height: 70vh;
  overflow: hidden;
}

#driving svg {
  transform-origin: center 20%;
}

section.screen {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(192, 201, 255, 1) 19%,
    rgb(96 109 175) 79%
  );
  min-height: 100svh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: all 1s;
  
  &:nth-child(2) {
    background: linear-gradient(
      180deg,
      rgba(96 109 175) 0%,
      rgba(9, 11, 22, 1) 100%
    );
  }
  
  &:nth-child(3) {
    background: linear-gradient(180deg, rgb(9 11 23) 50%, rgb(38 89 97) 90%);
  }
}


.night-mode section:nth-child(1) {
  background: linear-gradient(180deg, rgb(7 14 60) 39%, rgb(42 55 123) 79%);
}

.night-mode section:nth-child(2) {
  background: linear-gradient(
    180deg,
    rgb(42 55 123) 0%,
    rgba(9, 11, 22, 1) 100%
  );
}

#info .content {
  margin-left: 20vw;
  margin-right: 5vw;
}

#extra .table {
  margin: 25px;
  max-width: 800px;
}

#extra .row {
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
  margin-bottom: 25px;
  gap: 25px;
}

#extra .col-2 {
  grid-column: span 2;
}

#extra .experiences,
#extra .rated {
  display: flex;
  justify-content: space-between;
  color: white;
  white-space: nowrap;
  padding-bottom: 10px;
  font-size: 0.7em;
}

#extra .rated span {
  padding-right: 50px;
}

#extra p {
  font-size: 0.7em;
}

#extra h2 {
  width: 100%;
  min-width: 100px;
  color: white;
  font-family: "Bowlby One SC", Helvetica, sans-serif;
  font-size: 1em;
  margin-right: 25px;
  text-align: right;
}

#extra .timeline {
  color: white;
  font-size: 0.5em;
  font-family: "Coming Soon", Helvetica, sans-serif;
  width: 100%;
  margin-top: 4px;
}

#extra .timeline .dates {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.5px;
  margin-bottom: 7.5px;
  position: relative;
}

#extra .timeline .dates:after {
  content: "";
  display: block;
  width: calc(100% + 10px);
  border-bottom: 1px solid white;
  position: absolute;
  bottom: -2.5px;
  left: -5px;
}

#extra .timeline .dates div {
  position: relative;
  padding: 0 2.5px;
}

#extra .timeline .steps {
  display: flex;
  justify-content: space-between;
  padding: 0 2.5px;
}

#extra .timeline .dates div:after {
  content: "";
  display: block;
  height: 10px;
  border-left: 1px solid white;
  position: absolute;
  bottom: -12px;
  left: -2.5px;
}

#extra .timeline .dates div:last-of-type:after {
  content: "";
  display: block;
  height: 10px;
  border-left: 1px solid white;
  position: absolute;
  bottom: -12px;
  right: -2.5px;
  left: auto;
}

#deepanchor {
  position: absolute;
  bottom: 50px;
  right: 5vw;
}

@media only screen and (max-width: 813px) {
  html {
    font-size: 300%;
  }

  h1 {
    font-size: 3em;
  }

  #driving {
    transform: translate(0px, 20vh) scale(0.9);
  }

  #info .content {
    margin-left: 7vw;
    margin-right: 7vw;
  }

  #extra h2 {
    text-align: left;
  }

  #extra .row {
    display: flex;
    flex-direction: column;
  }

  #bottombar {
    flex-direction: column;
    font-size: 1.5em;
  }

  #info,
  #extra {
    font-size: 1.5em;
  }
}

footer {
  font-size: 0.6em;
  color: white;
  background: rgb(33 101 113);
  text-align: center;
  padding: 10px 0;
}

@media only screen and (min-width: 1440px) {
  #driving {
    left: 5vw;
  }
}

.folha-1 {
  transform-origin: 38% 11%;
}
.folha-2 {
  transform-origin: 38% 11%;
}
.folha-3 {
  transform-origin: 46% 14%;
}
.folha-4 {
  transform-origin: 45% 6%;
}
.folha-5 {
  transform-origin: 44% 12%;
}
.folha-6 {
  transform-origin: 42% 15%;
}
.folha-7 {
  transform-origin: 42% 15%;
}
.folha-8 {
  transform-origin: 42% 15%;
}
.folha-9 {
  transform-origin: 42% 15%;
}

@keyframes anchor {
  0% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-20deg);
  }
}
